asgiref==3.3.1
autopep8==1.5.4
certifi==2020.12.5
chardet==4.0.0
Django==3.1.5
django-debug-toolbar==3.2
django-filter==2.4.0
django-silk==4.1.0
djangorestframework==3.12.2
gprof2dot==2019.11.30
idna==2.10
Jinja2==2.11.3
MarkupSafe==1.1.1
pycodestyle==2.6.0
Pygments==2.7.4
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.3
