<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Название: {{ resource.resource_name }}
<br>
Внешний ID: {{ resource.external_id }}
<br>
Количество на складе: {{ resource.amount }}
<br>
Поставщик: {{ resource.resource_provider.provider_name }}
<br>
Стоимость: {{ resource.cost }}
<br>
<table border="1">
{% for action in history %}
    <tr>
    <td>{{ action.3 }}</td>
    <td>{{ action.0 }}</td>
    <td>{{ action.2 }}</td>
    <td>{{ action.1|date }}</td>
    </tr>

{% endfor %}
</table>
</body>
</html>